{{ define "listoflists" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lists</title>
    <meta name="description" content="lists">
    <meta name="author" content="henry hutcheson">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="header">
    <div>{{.List.Id}}</div>
    <div>{{.List.Name}}</div>
</div>
<div id="body">
{{ range $i, $item := (Checked .List.Items)}}
    <form>
    <div class="list entry active">
        <div class="title">{{$item.Name}}</div>
        <button kind="checkbox"></button>
    </div>
    </form>
{{ end }}
{{ range $i, $item := (UnChecked .List.Items)}}
    <form>
        <div class="list entry inactive">
            <div class="title">{{$item.Name}}</div>
            <button kind="checkbox"></button>
        </div>
    </form>
{{ end }}

</div>
</body>
</html>
{{end}}