{{define "list"}}
{{/* List is the logical element used to display a list instance */}}
        <style>
            .list {
                display: flex;
                flex-direction: column;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
                margin: 10px;
                padding: 5px;
            }

            .list, .list .title {
                border-radius: 5px;
            }

            .list .title {
                display: flex;
                font-size: 1.5em;
                background: #ddeeff;
                padding: 15px;
                margin: -5px -5px 5px -5px; /* inverse of the padding on .list*/
                border-radius: 5px 5px 0px 0px;
            }


            /* ITEMS */
            .items {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .item {
                display: flex;
                justify-content: left;
                flex-direction: row;
                margin: .5em;
                align-items: center;
            }

            .item .check-box {
                width: .5em;
                height: .5em;
                border: 1px solid;
                margin-right: 1em;
                border-radius: 10px;
                border: 1px solid #777777;
            }

            .item .name {
                font-size: 1em;
            }

            .item .check-box.checked {
                background: #777777;
            }

            .item .name.checked {
                text-decoration: line-through;
            }

        </style>
    <div class="list">
        <div class="title">
            <div>{{.title}}</div>
        </div>
        <div class="items">
            {{range $i, $item := .items}}
            <div class="item">
                <div class="check-box {{if $item.Checked}}{{ checked}}{{end}}"></div>
                <div class="name">{{$item.Parent.Name}}</div>
            </div>
            {{end}}
        </div>
    </div>
{{end}}