{{ define "leaderboard" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Donaldpalooza</title>
    <meta name="description" content="a tradition unlike any other">
    <meta name="author" content="sammy don">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div>
            <div>a tradition unlike any other</div>
        </div>

        <div>
            <div>last updated</div>
            <div>{{.LastUpdated}}</div>
        </div>
    </div>
    <div id="rankings">
    {{range $i,$p := .Contestants}}
        <div class="rank-card">
            <div class="rank-card-title">
                <div>
                <div>{{$p.DisplayPosition}}</div>
                <div>{{$p.Name}}</div>
                </div>
                <div>
                    <div>{{$p.Score}}</div>
                </div>
            </div>
        <div class="rank-card-contrib">
        {{range $i,$g := $p.Choices}}
            <div class="rank-group">
            {{range $i, $pick := $g.Picks}}
                <div class="player-score">
                    <div>{{$pick.Name}}</div>
                    <div>{{$pick.Score}}</div>
                    <div>{{$pick.DisplayPosition}}</div>
                </div>
            {{end}}
        </div>
        {{end}}
        </div>
            <div class="tie-breaker">
                <div>
                    <div>Tie breaker guess:</div>
                    <div>{{$p.TieBreaker}}</div>
                </div>
            </div>
        </div>
    </div>
{{end}}
</div>
</div>
</div>
</body>
</html>
{{end}}



